[Desktop Entry]
Name=Vampire Crawlers
Exec=env WINEPREFIX="/data/user/0/com.ludashi.benchmark/files/imagefs/home/xuser-1/.wine" wine D:\\\\Games\\\\Vampire Crawlers\\\\Vampire Crawlers.exe 
Type=Application
StartupNotify=true
Path=/storage/emulated/0/Download/Games/Vampire Crawlers
Icon=21E9_Vampire Crawlers.0
StartupWMClass=vampire crawlers.exe

[Extra Data]
rendererNative=0
inputType=4
exclusiveXInput=1
simTouchScreen=0
screenSize=1280x720
graphicsDriver=wrapper
graphicsDriverConfig=vulkanVersion=1.3;version=Mesa Turnip v26.2.0-20260515-r5;blacklistedExtensions=;maxDeviceMemory=0;presentMode=mailbox;syncFrame=0;disablePresentWait=1;resourceType=auto;bcnEmulation=auto;bcnEmulationType=compute;bcnEmulationCache=0;gpuName=Device
dxwrapper=dxvk+vkd3d
dxwrapperConfig=version=2.6.2-arm64ec-gplasync-0,framerate=0,async=0,asyncCache=0,vkd3dVersion=2.14.1-arm64ec-0,vkd3dLevel=12_1,ddrawrapper=none,csmt=3,gpuName=NVIDIA GeForce GTX 480,videoMemorySize=2048,strict_shader_math=1,OffscreenRenderingMode=fbo,renderer=gl
audioDriver=pulseaudio
emulator=fexcore
midiSoundFont=
lc_all=pt_BR.UTF-8
wincomponents=direct3d=1,directsound=0,directmusic=0,directshow=0,directplay=0,xaudio=0,vcrun2010=1
fexcoreVersion=2605-0
fexcorePreset=PERFORMANCE
box64Preset=COMPATIBILITY
startupSelection=1
sharpnessEffect=None
sharpnessLevel=100
sharpnessDenoise=100
cpuList=0,1,2,3,4,5,6,7
sidebarFpsLimit=0
sidebarUpscalerIndex=0
sidebarEffectIndex=0
sidebarSharpness=100
sidebarSuperResolution=1
container_id:1
